body {
    font-family: Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(230, 210, 187);
}

.container {
    border: 1px solid #986060;
    padding: 15px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 1px 3px 15px #383232;
}

h2 {
    margin-top: 0;
}

select {
    margin-bottom: 15px;
    padding: 5px;
    background-color: rgb(172, 172, 172);
    border: 2px double darkolivegreen;
    border-radius: 8px;
}

.product {
    padding: 10px;
    border: 1px solid #383232;
    margin-bottom: 8px;
    border-radius: 5px;
    background: #c96767;
}