.light-theme {
  --bg-color: #ffffff;
  --text-color: #213547;
  --card-bg: #f9f9f9;
}

.dark-theme {
  --bg-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
  --card-bg: #1a1a1a;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.product-card {
  background-color: var(--card-bg);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  width: 200px;
  height: 115px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
